.task-list {
  text-align: center;
  margin: 30px auto 0px auto;
  margin: 20px 0;
}

.task {
  text-align: center;
  background: #eee;
  border: 1px solid #ddd;
  margin: 10px auto;
  padding: 10px;
  max-width: 50%;
}

.task-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.task-link:hover {
  color: #502e58;
}
